* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-Regular";
}



/* =====  Font Family  ===== */

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf);

  /*?  Font Weight 300  ?*/
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);

  /*?  Font Weight 400  ?*/
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);

  /*?  Font Weight 500  ?*/
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);

  /*?  Font Weight 700  ?*/
}



/* =====  Root Variables  ===== */

:root {
  --yellow-color: #E7C873;
  --bg-yellow-color: #FFF8F6;
  --green-color: #1F4B43;
  --black2-color: #1A1A1A;
  --grey-color: #969696;
  --border-color: #FFFFFF12;
  --white-color: #fff;
  --black-color: #000;
}



body {
  color: var(--black2-color);
}



/* =====  Start Header Section  ===== */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 10;
}

.navbar {
  padding: 15px 0;
}

.navbar.scrolled {
  background-color: #1a1a1a;
  opacity: 0.98;
}

.navbar-nav .nav-link.show {
  color: var(--white-color);
}

.logo-img {
  width: 150px;
  height: 42px;
}

.nav-link {
  color: var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 30.4px;
  padding: 0 !important;
}

.nav-link {
  margin-right: 40px;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover {
  color: var(--white-color);
}

.dropdown-menu.show {
  backdrop-filter: blur(5px) saturate(180%);
  background-color: transparent;
  padding: 0 !important;
  color: var(--white-color);
}

.dropdown-menu.show .dropdown-item {
  color: var(--white-color);
}

.dropdown-menu.show .dropdown-item:hover {
  background-color: var(--yellow-color);
}

.call-icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.header-user p {
  color: var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 19.2px;
}

.user-icon-div {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white-color);
  border-radius: 20px;
  padding: 10.5px 12.03px 13.5px 12.02px;
}

.user-icon {
  width: 15.95px;
  height: 16px;
}

.header-btn {
  padding: 6.75px 33.66px 7.25px 26px;
  border-radius: 50px;
  border: 1px solid var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 15px;
  line-height: 28.5px;
  text-align: center;
  background-color: transparent;
  color: var(--white-color);
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.fa-bars {
  color: var(--white-color);
  font-size: 25px;
}

/* =====  End Header Section  ===== */



/*=====  Start Hero Section  =====*/

.hero-section {
  background-image: url("../images/hero-img.jpg");
  background-size: 100% 100%;
  height: 598px;
  position: relative;
}

.hero-section .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.room-desc {
  gap: 19px;
}

.room-desc p {
  font-size: 17px;
  line-height: 32.3px;
  color: var(--white-color);
}

.hero-title {
  color: var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  margin: 30.15px 0 41.97px !important;
}

.hero-price {
  font-family: "Roboto-Regular";
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  color: var(--white-color);
}

.hero-price span {
  font-weight: 400;
  font-size: 14.7px;
  line-height: 22.05px;
  color: var(--white-color);
}

.hero-btn {
  background-color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  border-radius: 12px;
  padding: 12.75px 31px 13.25px;
  display: flex;
  gap: 7.67px;
  align-items: center;
  margin-top: 35.75px;
  transition: all 0.4s;
}

.hero-btn span {
  font-family: "Roboto-Medium";
}

.hero-filter-div {
  background-color: var(--black2-color);
  border-radius: 24px;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translate(-50%);
  padding: 20px;
}

.keyword-div {
  border-right: 1px solid var(--border-color);
  /* padding-right: 30px; */
}

.keyword-div p {
  color: var(--grey-color);
  font-size: 13px;
  line-height: 24.7px;
  margin-bottom: 6px !important;
}

.keyword-div input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  color: var(--white-color);
  font-size: 15px;
  line-height: 17.58px;
}

.keyword-div input::placeholder {
  color: var(--white-color);
}

.status-div {
  border-right: 1px solid var(--border-color);
  padding: 0 30px;
}

.status-div p {
  color: var(--grey-color);
  margin-bottom: 2px !important;
  font-size: 13px;
  line-height: 24.7px;
}

.status-div .dropdown {
  width: 182px;
}

.status-div .dropdown-toggle {
  border: none;
  color: var(--white-color);
  padding: 0 !important;
  font-size: 15px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.type-div {
  /* padding: 0 52px 0 30px; */
  padding-left: 30px;
  padding-right: 0;
}

.type-div p {
  color: var(--grey-color);
  margin-bottom: 2px !important;
  font-size: 13px;
  line-height: 24.7px;
}

.type-div .dropdown {
  width: 182px;
}

.type-div .dropdown-toggle {
  border: none;
  color: var(--white-color);
  padding: 0 !important;
  font-size: 15px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.dropdown-menu.dropdown-menu-dark.show {
  background-color: var(--black2-color);
  padding: 0 !important;
}

.filter-div {
  display: flex;
  gap: 10px;
  padding-left: 19px;
}

.filter-btn {
  border-radius: 12px;
  border: 1px solid #FFFFFF1A;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px 30px;
  color: var(--white-color);
  background-color: transparent;
  font-family: "Roboto-Medium";
  font-size: 15px;
  line-height: 28.5px;
  transition: all 0.5s;
}

.filter-btn:hover {
  border: 1px solid var(--white-color);
}

.filter-icon {
  height: 18px;
  width: 18px;
}

.search-btn {
  background-color: var(--yellow-color);
  border-radius: 12px;
  border: 1.5px solid var(--yellow-color);
  color: var(--black2-color);
  padding: 12.75px 30px;
  transition: all 0.5s;
}

.search-btn:hover {
  background-color: transparent;
  border: 1.5px solid var(--yellow-color);
  color: var(--yellow-color);
}

/*=====  End Hero Section  =====*/



/*=====  Start Cities Property Section  =====*/

.cities-section {
  margin-top: 212px;
}

.cities-top h3,
.work-top h3,
.feature-top h3,
.article-news-top h3 {
  font-family: "Roboto-Medium";
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 5px !important;
}

.cities-top p,
.work-top p,
.feature-top p,
.article-news-top p {
  font-size: 17px;
  line-height: 32.3px;
  text-align: center;
  margin-bottom: 0 !important;
}

.cities-bottom {
  justify-content: space-between;
  padding-bottom: 20px;
}

.cities-div {
  border-radius: 16px;
  margin-top: 30px;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.cities-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.cities-div:hover {
  transform: scale(1.05);
}

.new-york-img,
.chicago-img,
.los-angeles-img,
.miami-img,
.florida-img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.cities-div h5 {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-bottom: 0;
  color: var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 22.8px;
  z-index: 2;
}

.cities-div p {
  position: absolute;
  top: 40px;
  left: 20px;
  margin-bottom: 0;
  color: var(--white-color);
  font-size: 14px;
  line-height: 28.5px;
  z-index: 2;
}

/*=====  End Cities Property Section  =====*/



/*=====  Start Work Section  =====*/

.work-section {
  margin-top: 145px;
}

.work-bottom {
  margin-top: 40px;
}

.work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.work-card-img {
  height: 60px;
  width: 60px;
}

.work-card h3 {
  font-family: "Roboto-Medium";
  font-size: 21px;
  line-height: 25.2px;
  text-align: center;
  margin: 27px 0 15px;
}

.work-card p {
  font-size: 15px;
  line-height: 28.5px;
  text-align: center;
  margin-bottom: 0;
}

/*=====  End Work Section  =====*/



/*=====  Start Sign in Section  =====*/

.sign-in-section {
  margin-top: 175px;
}

.sign-in-section .container {
  background-color: var(--green-color);
  padding: 85px 150px;
  border-radius: 16px;
}

.sign-in-content h3 {
  color: var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.sign-in-content p {
  color: var(--white-color);
  font-size: 17px;
  line-height: 32.3px;
  margin-bottom: 0;
}

.sign-in-btn {
  background-color: var(--yellow-color);
  color: var(--green-color);
  border-radius: 12px;
  padding: 0 30px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Roboto-Medium";
  font-size: 15px;
  line-height: 54px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.5s;
}

.sign-in-btn:hover {
  background-color: transparent;
  border: 2px solid var(--yellow-color);
  color: var(--yellow-color);
}

.sign-in-btn .fa-arrow-right {
  color: var(--green-color);
  font-size: 15px;
  transition: all 0.5s;
}

.sign-in-btn:hover .fa-arrow-right {
  color: var(--yellow-color);
}

/*=====  End Sign in Section  =====*/



/*=====  Start Feature Property Section  =====*/

.feature-property-section {
  margin-top: 165px;
}

.feature-bottom {
  margin-top: 40px;
}

.nav-pills {
  display: flex;
  margin-bottom: 40px;
  gap: 45px;
}

.nav-pills .nav-link {
  border-radius: 40px !important;
}

.nav-pills .nav-item {
  width: auto;
}

.tab-link {
  color: var(--black2-color);
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 30.4px;
  padding: 4px 20px !important;
  transition: all 0.5s;
  border: 1px solid transparent;
  margin-bottom: 5px;
}

.tab-link.active,
.tab-link:hover,
.nav-link:focus {
  border-radius: 40px !important;
  border: 1px solid var(--black2-color);
  background-color: var(--bg-yellow-color) !important;
  color: var(--black2-color) !important;
}

.feature-home-div {
  position: relative;
  transition: all 0.5s;
}

.feature-home-div:hover {
  transform: scale(1.05);
}

.feature-home-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.sale-green-btn {
  position: absolute;
  top: 23.5px;
  left: 20px;
  padding: 0 15px;
  border: none;
  outline: none;
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: 33px;
  font-family: "Roboto-Medium";
  font-size: 13px;
  line-height: 33px;
}

.sale-yellow-btn {
  position: absolute;
  top: 23.5px;
  left: 118.36px;
  padding: 0 15px;
  border: none;
  outline: none;
  background-color: var(--yellow-color);
  color: var(--black2-color);
  border-radius: 33px;
  font-family: "Roboto-Medium";
  font-size: 13px;
  line-height: 33px;
}

.feature-home-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(26, 26, 26, 0.8) 100%);
  z-index: 1;
}

.feature-home-div h3 {
  position: absolute;
  bottom: 114.69px;
  left: 30px;
  color: var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 19px;
  line-height: 22.8px;
  z-index: 2;
}

.feature-address {
  position: absolute;
  bottom: 80px;
  left: 30px;
  color: var(--white-color);
  font-size: 16px;
  line-height: 30.4px;
  z-index: 2;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.feature-address .location-icon {
  height: 20px;
  width: 20px;
  margin-right: 9px;
}

.home-features {
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 30px;
  z-index: 3;
  gap: 15px;
}

.bed,
.bathroom {
  border-right: 1px solid var(--white-color);
  padding-right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.square {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bed-icon,
.bathroom-icon,
.square-icon {
  width: 20px;
  height: 20px;
}

.bed p,
.bathroom p,
.square p {
  font-size: 16px;
  line-height: 17.6px;
  color: var(--white-color);
  margin-bottom: 0;
}

.home-price {
  position: absolute;
  bottom: 34px;
  right: 30px;
  z-index: 3;
  margin-bottom: 0;
  color: var(--white-color);
  font-family: "Roboto-Bold";
  font-size: 21px;
  line-height: 31.5px;
}

.home-price span {
  font-family: "Roboto-Regular";
  font-size: 14.7px;
  line-height: 22.05px;
}

.tab-btn {
  border-radius: 60px;
  background-color: var(--yellow-color);
  color: var(--black2-color);
  padding: 0 30px;
  border: 2px solid transparent;
  outline: none;
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto-Medium";
  font-size: 15px;
  line-height: 54px;
  transition: all 0.5s;
}

.tab-btn:hover {
  background-color: transparent;
  color: var(--black2-color);
  border: 2px solid var(--yellow-color);
}

/*=====  End Feature Property Section  =====*/



/*=====  Start Discover Section  =====*/

.discover-section {
  background-image: url(../images/discover-img.jpg);
  background-size: 100% 100%;
  margin-top: 165px;
  width: 100%;
  height: 750.78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discover-section h3 {
  color: var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 60px;
  line-height: 78px;
  text-align: center;
  margin-bottom: 0;
}

.discover-section p {
  color: var(--white-color);
  font-size: 16px;
  line-height: 30.4px;
  text-align: center;
  margin: 30px 0;
}

.discover-section button {
  background-color: var(--yellow-color);
  color: var(--black2-color);
  padding: 0px 30px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Roboto-Medium";
  font-size: 15px;
  line-height: 54px;
  outline: none;
  border: 1.5px solid transparent;
  transition: all 0.5s !important;
}

.discover-section button:hover {
  background-color: transparent;
  border: 1.5px solid var(--yellow-color);
  color: var(--yellow-color);
}

/*=====  End Discover Section  =====*/



/*=====  Start Real Estate Section  =====*/

.real-estate-section {
  margin-top: 165px;
}

.real-estate-content h3 {
  font-family: "Roboto-Medium";
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 0;
  padding-top: 55px;
}

.real-estate-content .desc {
  font-size: 16px;
  line-height: 30.4px;
  margin: 20px 0 40px;
}

.counter h4 {
  font-family: "Roboto-Medium";
  font-size: 40px;
  line-height: 72px;
  margin-bottom: 0;
}

.counter p {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
}

.real-estate-btn {
  width: auto;
  background-color: var(--yellow-color);
  color: var(--black2-color);
  border: 1.5px solid transparent;
  border-radius: 12px;
  outline: none;
  transition: all 0.5s;
  padding: 0 30px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Roboto-Medium";
  font-size: 15px;
  line-height: 52px;
}

.real-estate-btn:hover {
  background-color: transparent;
  border: 1.5px solid var(--yellow-color);
}

.real-estate-img {
  width: 100%;
}

/*=====  End Real Estate Section  =====*/



/*=====  Start Testimonial Section  =====*/

.testimonial-section {
  margin-top: 165px;
  padding: 165px 0 130px;
  background-color: var(--black2-color);
}

.testimonial-counter {
  display: flex;
  gap: 67px;
}

.testimonial-heading {
  color: var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 0;
  padding-top: 63px;
}

.testimonial-counter h4 {
  color: var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 26px;
  line-height: 33.8px;
  margin: 19px 0 1px;
}

.testimonial-counter p {
  color: var(--white-color);
  font-size: 15px;
  line-height: 37.5px;
  margin-bottom: 0;
}

.testimonial-counter .fa-star {
  color: var(--yellow-color);
  font-size: 13px;
  margin-top: 5px;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: block;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 38px 10px 15px;
  background-color: transparent;
}

.profile {
  align-items: center;
  position: relative;
}

.profile-img {
  width: 90px;
  aspect-ratio: 1;
  margin-right: 20px;
}

.profile h5 {
  color: var(--white-color);
  margin-bottom: 2px;
  font-family: "Roboto-Medium";
  font-size: 19px;
  line-height: 22.8px;
}

.profile p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 28.5px;
  color: var(--white-color);
}

.testimonial-desc {
  color: var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 19px;
  line-height: 36.1px;
  margin-top: 30px;
}

.q-1 {
  height: 39px;
  width: 39px;
  position: absolute;
  top: 3px;
  right: 18px;
}

.q-2 {
  height: 44px;
  width: 45px;
  position: absolute;
  top: 18px;
  right: 14.59px;
  z-index: 1;
}

.swiper {
  height: 320px;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: var(--white-color) !important;
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: 40px;
  z-index: 5;
  padding: 0 29px;
}

.swiper-button-prev {
  position: absolute !important;
  top: auto !important;
  bottom: 18px !important;
  left: 15px !important;
}

.swiper-button-next {
  position: absolute !important;
  bottom: 18px !important;
  top: auto !important;
  left: 100px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next .fa-chevron-right,
.swiper-button-prev .fa-chevron-left {
  height: 13px;
  width: 13px;
}

.testimonial-bottom {
  border-top: 1px solid #FFFFFF1F;
  margin-top: 85px;
  padding-top: 86px;
}

.testimonial-bottom p {
  color: var(--white-color);
  font-size: 17px;
  line-height: 32.3px;
  text-align: center;
  margin-bottom: 20px;
}

.amazon-img {
  Width: 84px;
  Height: 26px;
}

.amd-img {
  Width: 83px;
  Height: 20px;
}

.cisco-img {
  Width: 74px;
  Height: 42px;
}

.dropcam-img {
  Width: 122px;
  Height: 24px;
}

.logitech-img {
  Width: 82px;
  Height: 25px;
}

.spotify-img {
  Width: 99px;
  Height: 30px;
}

/*=====  End Testimonial Section  =====*/



/*=====  Start Article & News Section  =====*/

.article-news-section {
  margin-top: 165px;
}

.article-news-bottom {
  margin-top: 45px;
  padding-bottom: 30px;
}

.article-news-card {
  background-color: var(--white-color);
  border: 1px solid #E9E9E9;
  border-radius: 16px;
  height: 100%;
  transition: all 0.5s;
}

.article-news-card:hover {
  transform: scale(1.05);
}

.news-home-img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.date-div {
  margin-top: 20px;
  gap: 8px;
}

.date-div p {
  font-size: 15px;
  line-height: 28.5px;
  text-align: center;
  color: #3D3E3F;
  margin-bottom: 0;
}

.date-div span {
  color: #3D3E3F;
  margin-bottom: 0;
  font-size: 10px;
}

.home-heading {
  font-family: "Roboto-Medium";
  font-size: 17px;
  line-height: 25.84px;
  text-align: center;
  margin: 10px 0 16px;
}

.article-news-card-btn {
  margin-bottom: 26px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: "Roboto-Medium";
  font-size: 15px;
  line-height: 28.5px;
}

/*=====  End Article & News Section  =====*/



/*=====  Start App Section  =====*/

.app-section {
  margin-top: 130px;
  margin-bottom: 15px;
}

.app-container {
  background-color: var(--green-color);
  border-radius: 16px;
}

.app-container .col-lg-7 {
  padding-left: 86px;
}

.app-btn {
  color: var(--white-color);
  background-color: #FFFFFF1F;
  border: 2px solid transparent;
  outline: none;
  border-radius: 36px;
  margin-top: 160px;
  margin-bottom: 20px;
  padding: 0 25px;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  transition: all 0.5s;
}

.app-btn:hover {
  border: 2px solid #FFFFFF1F;
  background-color: transparent;
}

.app-heading {
  color: var(--white-color);
  font-family: "Roboto-Medium";
  font-size: 32px;
  line-height: 32px;
}

.app-desc {
  color: var(--white-color);
  font-size: 15px;
  line-height: 28.5px;
  margin: 20px 0 35px;
}

.main-app-div {
  gap: 30px;
}

.app-store {
  background-color: var(--white-color);
  border-radius: 12px;
  padding: 13px 38px 13px 25px;
}

.app-store-img {
  width: 19px;
  height: 24px;
  margin-right: 15px;
}

.app-store div {
  border-left: 1.5px solid #1F4B4352;
  padding-left: 16px;
}

.app-store p {
  margin-bottom: 0;
  color: var(--green-color);
  font-size: 13px;
  line-height: 15.6px;
}

.app-store h5 {
  margin-bottom: 0;
  color: var(--green-color);
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 19.2px;
  margin-top: 3.2px;
}

.play-store {
  background-color: var(--white-color);
  border-radius: 12px;
  padding: 13px 33px 13px 25px;
}

.play-store-img {
  width: 20px;
  height: 23px;
  margin-right: 15px;
}

.play-store div {
  border-left: 1.5px solid #1F4B4352;
  padding-left: 16px;
}

.play-store p {
  margin-bottom: 0;
  color: var(--green-color);
  font-size: 13px;
  line-height: 15.6px;
}

.play-store h5 {
  margin-bottom: 0;
  color: var(--green-color);
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 19.2px;
  margin-top: 3.2px;
}

.app-img {
  width: 100%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

/*=====  End App Section  =====*/



/*=====  Start Footer Section  =====*/

.footer-top {
  padding: 100px 0;
}

.telegram-icon-div {
  width: 60px;
  height: 60px;
  background-color: var(--yellow-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.telegram-icon {
  width: 26px;
}

.footer-top h2 {
  font-family: "Roboto-Medium";
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin: 40px 0;
}

.footer-top .footer-desc {
  font-size: 15px;
  line-height: 28.5px;
  text-align: center;
  margin-bottom: 40px;
}

.input-div {
  padding: 8.75px 8px 8.75px 31px;
  border: 1px solid #EBEBEB;
  background-color: #FFFFFF14;
  width: auto;
  border-radius: 60px;
}

.input-div input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  line-height: 17.58px;
  width: 413px;
}

input::placeholder {
  color: var(--black2-color);
}

.send-btn {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 7px 31px;
  font-family: "Roboto-Medium";
  font-size: 15px;
  line-height: 28.5px;
  text-align: center;
}

.send-btn .fa-arrow-right {
  margin-left: 8px;
}

.footer-bottom {
  padding: 30px 0;
  background-color: #F9F9F9;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.copyright-para {
  font-size: 15px;
  line-height: 28.5px;
  text-align: center;
  margin-bottom: 0;
}

.footer-logo {
  width: 200px;
  height: 57px;
}

.social {
  padding: 12px 15px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.social .facebook,
.social .twitter,
.social .instagram,
.social .linkedin {
  font-size: 30px;
}

.scroll-up {
  background-color: var(--black2-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.scroll-up .fa-arrow-up {
  font-size: 20px;
  color: var(--white-color);
}

/*=====  End Footer Section  =====*/



/** =====  Start Media Queries Section  ===== **/

@media only screen and (max-width: 1280px) {

  .sign-in-section .container {
    padding: 65px 150px;
  }

  .sign-in-content h3 {
    font-size: 28px;
    line-height: 28px;
  }

  .sign-in-content p {
    font-size: 15px;
    line-height: 30px;
  }

  .sign-in-btn {
    padding: 0 20px;
    font-size: 14px;
    line-height: 54px;
  }

  .sign-in-btn .fa-arrow-right {
    font-size: 14px;
  }

  .discover-section {
    height: 469.78px;
  }

  .real-estate-content h3 {
    font-size: 35px;
    line-height: 50px;
    padding-top: 40px;
  }

  .real-estate-content .desc {
    font-size: 14px;
    line-height: 28.4px;
    margin: 15px 0 30px;
  }

  .counter h4 {
    font-size: 35px;
    line-height: 70px;
  }

  .counter p {
    font-size: 14px;
    line-height: 30px;
  }

  .real-estate-btn {
    margin-top: 30px;
  }

  .swiper {
    height: 350px;
  }

  .swiper-button-prev {
    bottom: 12px !important;
    left: 15px !important;
  }

  .swiper-button-next {
    bottom: 12px !important;
    left: 99px !important;
  }

  .app-btn {
    margin-top: 120px;
  }

  .social .facebook,
  .social .twitter,
  .social .instagram,
  .social .linkedin {
    font-size: 20px;
  }

  .scroll-up {
    height: 40px;
    width: 40px;
    bottom: 37px;
  }

  .scroll-up .fa-arrow-up {
    font-size: 15px;
  }

  /*?  B - 1280px to 1400px   xl :- (Large Desktops)  ?*/
}

@media only screen and (max-width: 1200px) {

  .header-user {
    display: none !important;
  }

  .btn-col {
    padding: 0;
  }

  .sign-in-btn {
    padding: 0 10px;
  }

  .testimonial-desc {
    font-size: 16px;
    line-height: 32.1px;
  }

  .app-container .col-lg-7 {
    padding-left: 50px;
  }

  .app-btn {
    margin-top: 90px;
  }

  /*?  B - 1200px to 1280px   xl :- (Large Desktops)  ?*/
}

@media only screen and (max-width: 992px) {

  .navbar {
    background-color: transparent;
    transition: all 0.5s ease;
  }

  .navbar-nav {
    gap: 5px;
  }

  .navbar-collapse {
    padding: 15px;
  }

  .navbar.open {
    background-color: var(--black2-color);
    opacity: 0.98;
  }

  .nav-link {
    margin: 0;
  }

  .header-user {
    display: flex !important;
    justify-content: center;
  }

  .cities-bottom {
    justify-content: start;
  }

  .cities-bottom .col-lg-2.col-md-4.col-6 {
    padding: 10px !important;
  }

  .sign-in-section .container {
    padding: 60px 130px;
  }

  .btn-col {
    justify-content: center !important;
  }

  .sign-in-btn {
    width: 100%;
    margin-top: 20px;
  }

  .home-price {
    bottom: 8px;
    right: 25px;
  }

  .real-estate-content h3 {
    font-size: 25px;
    line-height: 45px;
    padding-top: 30px;
  }

  .real-estate-content .desc {
    font-size: 14px;
    line-height: 28.4px;
    margin: 15px 0 25px;
  }

  .counter h4 {
    font-size: 25px;
    line-height: 50px;
  }

  .counter p {
    font-size: 14px;
    line-height: 30px;
  }

  .real-estate-btn {
    margin-top: 20px;
  }

  .testimonial-heading {
    font-size: 35px;
  }

  .profile-img {
    width: 70px;
    margin-right: 15px;
  }

  .profile h5 {
    font-size: 16px;
    line-height: 21.8px;
  }

  .profile p {
    font-size: 14px;
    line-height: 21.5px;
  }

  .testimonial-desc {
    font-size: 14px;
    line-height: 21.1px;
  }

  .swiper {
    height: 300px;
  }

  .testimonial-bottom-img {
    margin-bottom: 25px;
  }

  .app-container .col-lg-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 12px;
  }

  .app-desc {
    text-align: center;
  }

  .app-img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .footer-bottom {
    justify-content: space-around;
  }

  .footer-logo {
    height: auto;
    width: 150px;
  }

  .social {
    gap: 20px;
    padding: 12px 30px;
  }

  .scroll-up {
    bottom: 32px;
    right: 20px;
  }

  /*?  B - 992px to 1200px   lg :- (Desktops, Laptops, Large Tablets)  ?*/
}

@media only screen and (max-width: 768px) {

  .hero-section {
    background-size: cover;
  }

  .cities-top h3,
  .work-top h3,
  .feature-top h3,
  .article-news-top h3 {
    font-size: 35px;
  }

  .cities-top p,
  .work-top p,
  .feature-top p,
  .article-news-top p {
    font-size: 14px;
  }

  .sign-in-section .container {
    padding: 50px 70px;
  }

  .sign-in-content h3 {
    font-size: 24px;
    line-height: 30px;
  }

  .sign-in-content p {
    font-size: 14px;
    line-height: 25px;
  }

  .tab-link {
    font-size: 13px;
    padding: 4px 12px !important;
  }

  .home-price {
    bottom: 34px;
    right: 30px;
  }

  .discover-section h3 {
    font-size: 50px;
    line-height: 68px;
  }

  .discover-section p {
    font-size: 14px;
    line-height: 30.4px;
  }

  .real-estate-col-1 {
    order: 1;
  }

  .real-estate-col-2 {
    order: 0;
  }

  .real-estate-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .counter {
    text-align: center;
  }

  .real-estate-btn {
    margin-top: 30px;
  }

  .testimonial-heading {
    padding-top: 0;
    text-align: center;
  }

  .testimonial-counter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .swiper-col {
    margin-top: 50px;
  }

  .swiper {
    height: 260px;
  }

  .testimonial-bottom p {
    margin-bottom: 30px;
  }

  .testimonial-bottom-img {
    margin-bottom: 35px;
  }

  .footer-top h2 {
    font-size: 35px;
    line-height: 35px;
  }

  .footer-top .footer-desc {
    font-size: 14px;
    line-height: 21px;
  }

  .input-div input {
    width: 360px;
    font-size: 14px;
  }

  .send-btn {
    font-size: 14px;
    line-height: 21px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }

  .scroll-up {
    bottom: 85px;
  }

  /*?  768px to 992px   md :- (Tablets and small desktops)  ?*/
}

@media only screen and (max-width: 576px) {

  .cities-section {
    margin-top: 170px;
  }

  .room-desc p {
    font-size: 14px;
  }

  .hero-title {
    font-size: 40px;
    margin: 20.15px 0 31.97px !important;
  }

  .hero-price {
    font-size: 16px;
  }

  .hero-price span {
    font-size: 14px;
    padding: 12.75px 20px 13.25px;
  }

  .work-section {
    margin-top: 100px;
  }

  .work-card-img {
    height: 50px;
    width: 50px;
  }

  .work-card h3 {
    font-size: 18px;
    line-height: 20px;
    margin: 20px 0 10px;
  }

  .work-card p {
    font-size: 13px;
    line-height: 21px;
  }

  .sign-in-section {
    margin-top: 120px;
  }

  .sign-in-section .container {
    padding: 30px 30px;
  }

  .sign-in-content h3 {
    font-size: 22px;
  }

  .sign-in-content p {
    font-size: 12px;
  }

  .feature-property-section {
    margin-top: 135px;
  }

  .nav-pills {
    gap: 30px;
  }

  .discover-section {
    background-size: cover;
    margin-top: 135px;
  }

  .discover-section h3 {
    font-size: 40px;
    line-height: 58px;
  }

  .discover-section p {
    font-size: 13px;
    line-height: 20px;
  }

  .discover-section button {
    padding: 0px 20px;
    font-size: 13px;
    line-height: 44px;
  }

  .real-estate-section {
    margin-top: 135px;
  }

  .real-estate-content h3 {
    font-size: 20px;
    line-height: 40px;
  }

  .real-estate-content .desc {
    font-size: 16px;
    line-height: 35px;
  }

  .counter {
    margin-bottom: 15px;
  }

  .real-estate-btn {
    margin-top: 20px;
  }

  .testimonial-section {
    margin-top: 135px;
  }

  .testimonial-bottom p {
    font-size: 14px;
    line-height: 21px;
  }

  .testimonial-bottom-img {
    margin-bottom: 45px;
  }

  .article-news-section {
    margin-top: 135px;
  }

  .app-section {
    margin-top: 135px;
  }

  .app-btn {
    font-size: 14px;
    line-height: 36px;
    margin-top: 60px;
  }

  .app-heading {
    font-size: 27px;
    line-height: 21px;
  }

  .app-desc {
    font-size: 12px;
    line-height: 21px;
  }

  .main-app-div {
    gap: 15px;
  }

  .app-store {
    padding: 15px 30px 15px 20px;
  }

  .app-store p,
  .play-store p {
    font-size: 12px;
    line-height: 12px;
  }

  .app-store h5,
  .play-store h5 {
    font-size: 14px;
    line-height: 14px;
  }

  .play-store {
    background-color: var(--white-color);
    border-radius: 12px;
    padding: 15px 28px 15px 20px;
  }

  .input-div input {
    width: 300px;
  }

  .send-btn {
    padding: 7px 15px;
  }

  /*?  B - 576px to 768px   sm :- (Landscape and Portrait mobiles)  ?*/
}

@media only screen and (max-width: 430px) {

  .header-user {
    flex-wrap: wrap;
    gap: 10px;
  }

  .call-icon {
    width: 16px;
    height: 16px;
    margin-right: 0;
  }

  .header-user p {
    font-size: 12px;
  }

  .user-icon-div {
    margin: 0;
    padding: 5.5px 8.03px 9.5px 8.02px;
  }

  .user-icon {
    width: 12.95px;
    height: 13px;
  }

  .tab-link {
    font-size: 12px;
    padding: 2px 5px !important;
  }

  .nav-pills {
    gap: 20px;
  }

  .discover-section h3 {
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 0;
  }

  .discover-section p {
    font-size: 12px;
    line-height: 20px;
    margin: 15px 0;
  }

  .discover-section button {
    padding: 0px 15px;
    font-size: 12px;
    line-height: 44px;
  }

  .real-estate-content .desc {
    font-size: 14px;
    line-height: 30px;
  }

  .swiper {
    height: 270px;
  }

  .date-div p {
    font-size: 14px;
    line-height: 28.5px;
  }

  .date-div span {
    font-size: 8px;
  }

  .home-heading {
    font-size: 16px;
    line-height: 21px;
  }

  .article-news-card-btn {
    font-size: 13px;
    line-height: 21px;
  }

  .app-btn {
    margin-bottom: 25px;
  }

  .responsive-br {
    display: none;
  }

  .main-app-div {
    gap: 15px;
    flex-direction: column;
  }

  .input-div input {
    width: 270px;
  }

  .send-btn {
    padding: 7px 10px;
  }

}

@media only screen and (max-width: 400px) {

  .home-price {
    bottom: 5px;
    font-size: 16px;
  }

  .discover-section p {
    font-size: 10px;
    line-height: 20px;
  }

  .testimonial-heading {
    font-size: 30px;
  }

  .profile-img {
    width: 50px;
  }

  .testimonial-desc {
    font-size: 14px;
    line-height: 27.1px;
  }

  .swiper {
    height: 300px;
  }

  .home-heading {
    font-size: 13px;
    line-height: 18px;
  }

  .input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
  }

  input::placeholder {
    text-align: center;
  }

  .footer-bottom {
    gap: 15px;
  }

  .scroll-up {
    bottom: 90px;
  }

}

@media only screen and (max-width: 350px) {

  .cities-top h3,
  .work-top h3,
  .feature-top h3,
  .article-news-top h3 {
    font-size: 30px;
  }

  .cities-top p,
  .work-top p,
  .feature-top p,
  .article-news-top p {
    font-size: 12px;
  }

  .swiper {
    height: 320px;
  }

  .testimonial-bottom p {
    font-size: 12px;
    line-height: 18px;
  }

  .footer-top h2 {
    font-size: 30px;
  }

  .footer-top .footer-desc {
    font-size: 12px;
  }

}

/** =====  End Media Queries Section  ===== **/



/* =====  Start Scrollbar Section  ===== */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--black2-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow-color);
  border-radius: 50px;
  height: 80px;
}

/* =====  End Scrollbar Section  ===== */